* { box-sizing: border-box; }
html { font-size: 62.5%; }

body {
	background-color: var(--x-body--background, #000);
  color: var(--x-body--color, #fff);
  font-family: -apple-system, BlinkMacSystemFont,Lato,"Segoe UI",Verdana,Arial,sans-serif;
  font-size: 14px;
	font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
	line-height: 1.6;
	margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: auto;
	-ms-text-size-adjust: 100%;

	/* magic mobile viewport iOS bug fix */
  /* also see: https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
  /* also see: https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: auto;
  position: relative;
}

a {
	-webkit-tap-highlight-color: transparent;
	color: #de1d61;
	cursor: pointer;
	text-decoration: none;
	transition: opacity .1s ease-out, color .1s ease-out;

  &.disabled { pointer-events: none; opacity: .8; }

  @media(hover: hover) {
		&:hover { text-decoration: underline; color: #c2255c; }
	}

  @media(active: active) {
		&:active { color: #a61e4d; }
	}

  &:focus { outline: 0; }
}

.wrapper {
  z-index: 200;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
}